.list {
  background-color: aqua;
  width: 500px;

  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  margin: 80px 0 0 500px;
}
.list h1 {
  padding-top: 20px;
}
.list input {
  padding: 5px 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.list button {
  padding: 5px 5px;
  border-radius: 10px;
}
.list button:hover {
  cursor: pointer;
}
